<h2>Config</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            Pattern Mappings
        </span>
    </div>

    <div class="panel-body">
        Pattern mappings in order of evaluation. It will redirect requests
        for a given service matching <strong>Pattern</strong> to <strong>URL</strong>.
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Active</th>
                <th>Pattern <span class="label label-default" title="Regular Expression">RE</span></th>
                <th>URL</th>
                <th>
                    <button ng-disabled="!isEditing()" class="btn btn-link btn-xs" title="Add mapping" ng-click="add(config.mappings)"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="!config.mappings.length"><td colspan="5" class="text-center text-muted"><i class="glyphicon glyphicon-info-sign"></i> No mappings defined.</td></tr>
            <tr ng-repeat="entry in config.mappings track by $index">
                <td>
                    <button class="btn btn-xs" ng-class="{'active btn-success': isActive(entry), 'btn-default': !isActive(entry)}" ng-click="toggleActive(entry)" title="Toggle active/inactive mapping">
                        <i class="glyphicon" ng-class="{'glyphicon-ok': isActive(entry), 'glyphicon-minus': !isActive(entry)}"></i>
                    </button>
                </td>
                <td ng-show="isEditing(entry)"><input class="monospace" size="40" type="text" ng-model="entry.pattern"/></td>
                <td ng-show="isEditing(entry)">
                    <input class="monospace" size="50" type="text" ng-model="entry.url"/>
                    <button ng-show="isEditing(entry)" class="btn btn-xs btn-link" title="Done" ng-click="saveConfig()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.pattern }}</code></td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.url }}</code></td>
                <td>
                    <button ng-disabled="$first" class="btn btn-xs btn-link" title="Move up" ng-click="moveUp(entry, config.mappings)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button ng-disabled="$last" class="btn btn-xs btn-link" title="Move down" ng-click="moveDown(entry, config.mappings)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    <button ng-disabled="isEditing(entry)" class="btn btn-xs btn-link" title="Edit" ng-click="editEntry(entry, config.mappings)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-xs btn-link" title="Duplicate" ng-click="duplicate(entry, config.mappings)"><i class="glyphicon glyphicon-duplicate"></i></button>
                    <button class="btn btn-xs btn-link" title="Remove" ng-click="remove(entry, config.mappings)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            Request Transforms
        </span>
    </div>

    <div class="panel-body">
        List of request transforms. A request transform will modify the request sent through the proxy
        for a given service matching <strong>Pattern</strong>. It will replace the text matching the
        <strong>Match</strong> pattern with a <strong>Replacement</strong> text.
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Active</th>
                <th>Pattern <span class="label label-default" title="Regular Expression">RE</span></th>
                <th>Match <span class="label label-default" title="Regular Expression">RE</span></th>
                <th>Replacement</th>
                <th>
                    <button ng-disabled="!isEditing()" class="btn btn-link btn-xs" title="Add mapping" ng-click="add(config.requestTransforms)"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="!config.requestTransforms.length"><td colspan="5" class="text-center text-muted"><i class="glyphicon glyphicon-info-sign"></i> No request transforms defined.</td></tr>
            <tr ng-repeat="entry in config.requestTransforms track by $index">
                <td>
                    <button class="btn btn-xs" ng-class="{'active btn-success': isActive(entry), 'btn-default': !isActive(entry)}" ng-click="toggleActive(entry)" title="Toggle active/inactive mapping">
                        <i class="glyphicon" ng-class="{'glyphicon-ok': isActive(entry), 'glyphicon-minus': !isActive(entry)}"></i>
                    </button>
                </td>
                <td ng-show="isEditing(entry)"><input class="monospace" size="30" type="text" ng-model="entry.servicePattern"/></td>
                <td ng-show="isEditing(entry)"><input class="monospace" size="30" type="text" ng-model="entry.matchPattern"/></td>
                <td ng-show="isEditing(entry)">
                    <input class="monospace" size="30" type="text" ng-model="entry.replacement"/>
                    <button ng-show="isEditing(entry)" class="btn btn-xs btn-link" title="Done" ng-click="saveConfig()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.servicePattern }}</code></td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.matchPattern }}</code></td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.replacement }}</code></td>
                <td>
                    <button ng-disabled="$first" class="btn btn-xs btn-link" title="Move up" ng-click="moveUp(entry, config.requestTransforms)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button ng-disabled="$last" class="btn btn-xs btn-link" title="Move down" ng-click="moveDown(entry, config.requestTransforms)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    <button ng-disabled="isEditing(entry)" class="btn btn-xs btn-link" title="Edit" ng-click="editEntry(entry, config.requestTransforms)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-xs btn-link" title="Duplicate" ng-click="duplicate(entry, config.requestTransforms)"><i class="glyphicon glyphicon-duplicate"></i></button>
                    <button class="btn btn-xs btn-link" title="Remove" ng-click="remove(entry, config.requestTransforms)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            Response Transforms
        </span>
    </div>

    <div class="panel-body">
        List of response transforms. A response transform will modify the response received through the proxy
        for a given service matching <strong>Pattern</strong>. It will replace the text matching the
        <strong>Match</strong> pattern with a <strong>Replacement</strong> text.
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Active</th>
                <th>Pattern <span class="label label-default" title="Regular Expression">RE</span></th>
                <th>Match <span class="label label-default" title="Regular Expression">RE</span></th>
                <th>Replacement</th>
                <th>
                    <button ng-disabled="!isEditing()" class="btn btn-link btn-xs" title="Add mapping" ng-click="add(config.responseTransforms)"><i class="glyphicon glyphicon-plus"></i> Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="!config.responseTransforms.length"><td colspan="5" class="text-center text-muted"><i class="glyphicon glyphicon-info-sign"></i> No response transforms defined.</td></tr>
            <tr ng-repeat="entry in config.responseTransforms track by $index">
                <td>
                    <button class="btn btn-xs" ng-class="{'active btn-success': isActive(entry), 'btn-default': !isActive(entry)}" ng-click="toggleActive(entry)" title="Toggle active/inactive mapping">
                        <i class="glyphicon" ng-class="{'glyphicon-ok': isActive(entry), 'glyphicon-minus': !isActive(entry)}"></i>
                    </button>
                </td>
                <td ng-show="isEditing(entry)"><input class="monospace" size="30" type="text" ng-model="entry.servicePattern"/></td>
                <td ng-show="isEditing(entry)"><input class="monospace" size="30" type="text" ng-model="entry.matchPattern"/></td>
                <td ng-show="isEditing(entry)">
                    <input class="monospace" size="30" type="text" ng-model="entry.replacement"/>
                    <button ng-show="isEditing(entry)" class="btn btn-xs btn-link" title="Done" ng-click="saveConfig()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.servicePattern }}</code></td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.matchPattern }}</code></td>
                <td ng-class="{disabled: !isActive(entry)}" ng-hide="isEditing(entry)"><code>{{ entry.replacement }}</code></td>
                <td>
                    <button ng-disabled="$first" class="btn btn-xs btn-link" title="Move up" ng-click="moveUp(entry, config.responseTransforms)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button ng-disabled="$last" class="btn btn-xs btn-link" title="Move down" ng-click="moveDown(entry, config.responseTransforms)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    <button ng-disabled="isEditing(entry)" class="btn btn-xs btn-link" title="Edit" ng-click="editEntry(entry, config.responseTransforms)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-xs btn-link" title="Duplicate" ng-click="duplicate(entry, config.responseTransforms)"><i class="glyphicon glyphicon-duplicate"></i></button>
                    <button class="btn btn-xs btn-link" title="Remove" ng-click="remove(entry, config.responseTransforms)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
