<h2>Actions
    <span class="pull-xs-right">
        <span class="btn-group" role="group">
            <button ng-if="!state.active" class="btn btn-info btn-sm" ng-click="refresh()" title="Reload entries from server">
                <i class="fa fa-refresh"></i> Refresh
            </button>
            <button ng-if="canStream &amp;&amp; state.active" class="btn btn-danger btn-sm" ng-click="deleteAll()" title="Clear client entries">
                <i class="fa fa-trash"></i> Clear all
            </button>
            <button ng-if="state.active" class="btn btn-secondary btn-sm" ng-click="refresh({stream: false})" title="Streaming is active. Click to disable.">
                <i class="fa fa-refresh fa-spin"></i> Streaming...
            </button>
            <button ng-if="canStream &amp;&amp; !state.active" class="btn btn-secondary btn-sm" ng-click="refresh({stream: true})" title="Streaming is inactive. Click to enable.">
                <i class="fa fa-refresh"></i> Stream
            </button>
        </span>
        <span class="btn-group" role="group">
            <a ui-sref-active="active" ui-sref="actions({show: false})" class="btn btn-warning btn-warning btn-sm" title="Collapse all entries">
                <i class="fa fa-caret-up"></i> Hide data
            </a>
            <a ui-sref-active="active" ui-sref="actions({show: true})" class="btn btn-warning btn-sm" title="Expand all entries">
                <i class="fa fa-caret-down"></i> Show data
            </a>
        </span>
    </span>
</h2>

<form class="form-inline search" ng-submit="refresh()">
    <fieldset class="form-group">
        <label for="filter" class="sr-only">Filter</label>
        <div class="input-group">
            <input type="text" id="filter" size="40" placeholder="Filter"
                   class="form-control has-extension" ng-model="filter" />
            <div class="input-group-btn">
                <input type="button" class="btn btn-secondary fa-codepoint control-extension" value="&#xf00d"
                       tabindex="-1" ng-click="filter=''; refresh();"/>
                <input type="submit" class="btn btn-primary fa-codepoint" value="Find &#xf002;"/>
            </div>
        </div>
    </fieldset>
</form>

<div class="card" ng-class="{'card-outline-danger': entry.response.exception, 'card-outline-warning': !entry.response.exception && entry.isNew }" ng-repeat="entry in requestLogs|filter:filter">
    <div class="card-header">
        <span class="card-title">
            {{ entry.request.time | date:'yyyy-MM-dd HH:mm:ss' }} ({{ entry.responseTimeMillis }} ms)
        </span>

        <span ng-hide="entry.response.exception" class="monospace tag" ng-class="{'tag-success': isOkStatus(entry), 'tag-warning': isRedirectStatus(entry), 'tag-danger': isErrorStatus(entry)}">
            {{ entry.response.status }}
        </span>
        <span ng-show="entry.response.exception" class="monospace tag tag-danger">
            Exception
        </span>
        <a class="monospace tag tag-default" ui-sref-active="tag-primary" ui-sref="actions({filter:entry.response.host})">{{ entry.response.host }}</a>
        <a title="{{ entry.httpMethod }} {{ entry.requestPathWithQuery }}" class="monospace tag tag-default" ui-sref-active="tag-primary" ui-sref="actions({filter:entry.request.requestPath})">
            {{ entry.request.httpMethod }} {{ entry.request.requestPath }}
        </a>
        <span class="btn-group btn-group-sm pull-xs-right">
            <a ui-sref="actions({filter:entry.id, show:true, stream:false})" class="btn btn-info" title="Show only this entry" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
            <button class="btn btn-warning" ng-click="toggle(entry)" title="Expand this entry">
                <i ng-class="{'fa-caret-down': entry.expanded, 'fa-caret-up': !entry.expanded}" class="fa"></i>
            </button>
        </span>
    </div>
    <div class="card-block" ng-class="{collapse: !entry.expanded}">
        <div class="card-group">
            <httpentry class="card" name="Request" id="request" entry="entry" model="entry.request"></httpentry>
            <httpentry class="card" name="Response" id="response" entry="entry" model="entry.response"></httpentry>
        </div>
    </div>
</div>
