<h2>Actions
    <div class="btn-group pull-xs-right" role="group">
        <button class="btn btn-danger btn-sm" ng-click="deleteAll()">
            <i class="fa fa-trash"></i> Clear all
        </button>
        <button ng-hide="state.active" class="btn btn-info btn-sm" ng-click="refresh()">
            <i class="fa fa-refresh"></i> Refresh
        </button>
        <button ng-show="state.active" class="btn btn-secondary btn-sm" ng-click="refresh({stream: false})">
            <i class="fa fa-refresh fa-spin"></i> Streaming...
        </button>
        <button ng-hide="state.active" class="btn btn-secondary btn-sm" ng-click="refresh({stream: true})">
            <i class="fa fa-refresh"></i> Stream
        </button>
        <a ui-sref-active="active" ui-sref="actions({show: false})" class="btn btn-warning btn-warning btn-sm">
            <i class="fa fa-caret-up"></i> Hide data
        </a>
        <a ui-sref-active="active" ui-sref="actions({show: true})" class="btn btn-warning btn-sm">
            <i class="fa fa-caret-down"></i> Show data
        </a>
    </div>
</h2>

<form class="form-inline search" ng-submit="refresh()">
    <fieldset class="form-group">
        <label for="filter" class="sr-only">Filter</label>
        <div class="input-group">
            <input type="text" id="filter" size="40" placeholder="Filter"
                   class="form-control has-extension" ng-model="filter" />
            <div class="input-group-btn">
                <input type="button" class="btn btn-secondary fa-codepoint control-extension" value="&#xf00d"
                       tabindex="-1" ng-click="filter=''; refresh();"/>
                <input type="submit" class="btn btn-primary fa-codepoint" value="Find &#xf002;"/>
            </div>
        </div>
    </fieldset>
</form>

<div class="card" ng-class="{'card-danger-outline': entry.exception, 'card-warning-outline': !entry.exception && entry.isNew }" ng-repeat="entry in requestLogs|filter:filter">
    <div class="card-header">
        <span class="card-title">
            {{ entry.startDateTime|date:'yyyy-MM-dd HH:mm:ss' }} ({{ entry.responseTimeMilli }} ms)
        </span>

        <span class="monospace label" ng-class="{'label-success': entry.status/100===2, 'label-warning': entry.status/100===3, 'label-danger': entry.status/100!==2&&entry.status/100!==3}">
            {{ entry.status }}
        </span>
        <a class="monospace label label-default" ui-sref-active="label-primary" ui-sref="actions({filter:entry.host})">{{ entry.host }}</a>
        <a title="{{ entry.httpMethod }} {{ entry.requestPathWithQuery }}" class="monospace label label-default" ui-sref-active="label-primary" ui-sref="actions({filter:entry.requestPath})">
            {{ entry.httpMethod }} {{ entry.requestPath }}
        </a>
        <span class="btn-group btn-group-sm pull-xs-right">
            <a ui-sref="actions({filter:entry.requestId, show:true, stream:false})" class="btn btn-info" title="Show only this entry" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
            <button class="btn btn-warning" ng-click="toggle(entry)" title="Expand this entry">
                <i ng-class="{'fa-caret-down': entry.expanded, 'fa-caret-up': !entry.expanded}" class="fa"></i>
            </button>
        </span>
    </div>
    <div class="card-block" ng-class="{collapse: !entry.expanded}">
        <div ng-hide="entry.exception" class="row">
            <div class="card card-block col-md-6 col-xs-12">
                <pre ng-if="entry.requestData">{{ entry.requestData }}</pre>
            </div>
            <div class="card card-block col-md-6 col-xs-12">
                <pre ng-if="entry.responseData">{{ entry.responseData }}</pre>
            </div>
        </div>

        <div ng-show="entry.exception" class="row">
            <div class="col-xs-12">
                <exception value="entry.exception"></exception>
            </div>
        </div>
    </div>
</div>
