
h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 2rem;
}

h2 {
    margin: 1.5rem 0 1rem 0;
}

.search {
    margin-bottom: 1rem;
}

.monospace {
    font-family: monospace;
    font-weight: normal;
}

.disabled {
    opacity: .6;
}

.has-extension {
    box-shadow: inset -1px 0 0 0 #fff, inset 0 1px 1px 0 rgba(0, 0, 0, 0.075) !important;
    border-right: none;
}
.has-extension:focus {
    box-shadow: inset -1px 0 0 0 #fff, inset 0 1px 1px 0 rgba(0, 0, 0, 0.075) !important;
    border-top: 1px solid #CCC !important;
    border-left: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}
.control-extension {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border-left: none;
    color: gray;
}

.fa-codepoint {
    font-family: FontAwesome, serif;
}

.toasts {
    width: 400px;
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: 99999999;
}

.toast {
    box-shadow: 4px 4px 13px 0 rgba(0,0,0,0.5);
}

.card {
    transition: .6s linear border-color;
}
.card > .card-header {
    transition: .6s linear background-color;
}
.card > .card-header + .card-collapse > .card-block {
    transition: .6s linear border-top-color;
}
